*.o
*.out
.vscode/
*.a
a.out.*/
main.c
tempCodeRunnerFile.c
*.o
test
test.c
a.out
.vscode/
*.a
*.swp
tempCodeRunnerFile.c
*.dSYM/
*.h.gch
.DS_Store
asm
file
*.s
*.cor
*.corr
vm_champs/
examples/
CMakeLists.txt
cmake-build-debug
.idea
*.swp